.search-btn {
  background-color: #fe424d;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
  width: 20%;
  margin-top: 10px;
  padding-top: 10px;
}

.btn-search:hover {
  background-color: #fe424d;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}

.search-inp {
  width: 30%;
  margin-left: 30%;
  margin-top: 10px;
  padding-top: 10px;
}